In [ ]:
# print 0 to 20 by using range

In [3]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
# print range 10 to 20

In [5]:
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [ ]:
# Print number of items in the list by using 'len'

In [13]:
list=[10, 20, 14, 55, 43, 87, 76]
print("Number of item in the List is :",len(list))

Number of item in the List is : 7

In [ ]:
#Artificial Intelligence

In [18]:
word="Artificial Intelligence"
for i in word:
    print(i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [19]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [ ]:
# Print yhis mixered datatype using Tuples

In [23]:
tuple=(1, 'Welcome', 2, 'Hope')
print(tuple)

(1, 'Welcome', 2, 'Hope')

In [31]:
Tuple1=(0,1,2,3)
print("Tuple1 =",Tuple1)
Tuple2=('python', 'HOPE')
Tuple3=(Tuple1,Tuple2)
print(Tuple3)

Tuple1 = (0, 1, 2, 3)
((0, 1, 2, 3), ('python', 'HOPE'))

In [ ]:
# print Odd Numbers in the list

In [43]:
list=[20,10,16,19,25,1,276,188]

for num in list:
    
    if(num%2==0):
        print(num, " is Even")

20  is Even
10  is Even
16  is Even
276  is Even
188  is Even